/* http://meyerweb.com/eric/tools/css/reset/
   v2.0 | 20110126
   License: none (public domain)
*/
/* stylelint-disable*/
a,abbr,acronym,address,applet,article,aside,audio,b,big,blockquote,body,canvas,caption,center,cite,code,dd,del,details,dfn,div,dl,dt,em,embed,fieldset,figcaption,figure,footer,form,h1,h2,h3,h4,h5,h6,header,hgroup,html,i,iframe,img,ins,kbd,label,legend,li,mark,menu,nav,object,ol,output,p,pre,q,ruby,s,samp,section,small,span,strike,strong,sub,summary,sup,table,tbody,td,tfoot,th,thead,time,tr,tt,u,ul,var,video{margin:0;padding:0;border:0;font:inherit;vertical-align:baseline}article,aside,details,figcaption,figure,footer,header,hgroup,main,menu,nav,section{display:block}html{line-height:1}body{line-height:inherit}ol,ul{list-style:none}blockquote,q{quotes:none}blockquote:after,blockquote:before,q:after,q:before{content:'';content:none}table{border-collapse:collapse;border-spacing:0}
/* stylelint-enable */

/* Begin site styles below */

html {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 1em; /*16/16=1*/
  line-height: 1.25em; /*20/16=1.25*/
  margin: 0.25em; /*4/16=0.25*/
}
section {
  margin-bottom: 0.5em; /*8/16=0.5*/
}
figure {
  position: relative;
}
img {
  display: block;
  max-width: 100%;
}
figcaption {
  margin-bottom: 0.5em; /*8/16=0.5*/
  position: relative;
  width: 100%;
}

h1,
h2 {
  font-weight: bold;
}
h2 {
  text-decoration: underline;
}
h1,
h2,
h3 {
  margin-top: 0.5em; /*8/16=0.5*/
  margin-bottom: 0.5em; /*8/16=0.5*/
}

#footer p {
  display: block;
  margin-top: 16px; /* 32/16 = 2*/
}

#navigation a {
  background-color: #333;
  color: white;
  display: block;
  font-size: 1.33333333333em; /* 24/16 = 1.33333333333*/
  line-height: 0;
  margin-bottom: 0.5em; /* 12/24 = 0.5*/
  padding: 1em; /* 24/24 = 1*/
  text-decoration: none;
}

p {
  margin-bottom: 8px;
}

@media screen and (min-width: 18.75em) { /* 300/16 = 18.75*/
  #header {
    text-align: center;
  }
  #footer {
    display: flex;
    flex-direction: row;
  }
  #footer p {
    margin-right: 0.5em; /* 8/16 = 0.5*/
  }
  #navigation {
    margin-top: 1em; /*16/16=1*/
  }
}
@media screen and (min-width: 26.25em) { /*420/16=26.25*/
  #home-footer {
    width: 48vw;
    float: right;
  }
  .kevin-aguilar {
    width: 48vw;
    float: left;
  }
  #introduction {
    width: 48vw;
    float: right;
  }
}
@media screen and (min-width: 43.75em) {/*700/16=43.75*/
  #creations {
    display: grid;
    grid-gap: 1em; /*16/16=1*/
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr;
  }
  h1 {
    font-size: 2em; /*32/16=2*/
    line-height: 1em; /*32/32=1*/
  }
}
