/* http://meyerweb.com/eric/tools/css/reset/
   v2.0 | 20110126
   License: none (public domain)
*/
/* stylelint-disable*/
a,abbr,acronym,address,applet,article,aside,audio,b,big,blockquote,body,canvas,caption,center,cite,code,dd,del,details,dfn,div,dl,dt,em,embed,fieldset,figcaption,figure,footer,form,h1,h2,h3,h4,h5,h6,header,hgroup,html,i,iframe,img,ins,kbd,label,legend,li,mark,menu,nav,object,ol,output,p,pre,q,ruby,s,samp,section,small,span,strike,strong,sub,summary,sup,table,tbody,td,tfoot,th,thead,time,tr,tt,u,ul,var,video{margin:0;padding:0;border:0;font:inherit;vertical-align:baseline}article,aside,details,figcaption,figure,footer,header,hgroup,main,menu,nav,section{display:block}html{line-height:1}body{line-height:inherit}ol,ul{list-style:none}blockquote,q{quotes:none}blockquote:after,blockquote:before,q:after,q:before{content:'';content:none}table{border-collapse:collapse;border-spacing:0}
/* stylelint-enable */

/* Begin site styles below */

html {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 16px;
  line-height: 20px;
  margin: 4px;
}
section {
  margin-bottom: 8px;
}
figure {
  position: relative;
}
img {
  display: block;
  max-width: 100%;
}
figcaption {
  background-color: blue;
  margin-bottom: 8px;
  position: relative;
  width: 100%;
}

h1,
h2 {
  font-size: 18px;
  font-weight: bold;
  line-height: 24px;
  margin-top: 8px;
  margin-bottom: 8px;
}
h3 {
  margin-top: 8px;
  margin-bottom: 8px;
}
#content p {
  margin-bottom: 4px;
}
#footer p {
  background-color: green;
  display: block;
  margin-top: 16px; /* 32/16 = 2*/
  margin-bottom: 2px;
}

#navigation a {
  background-color: #333;
  color: white;
  display: block;
  font-size: 1.33333333333em; /* 24/16 = 1.33333333333*/
  line-height: 0;
  margin-bottom: 0.5em; /* 12/24 = 0.5*/
  padding: 1em; /* 24/24 = 1*/
  text-decoration: none;
}

p {
  margin-bottom: 8px;
}

@media screen and (min-width: 300px) { /* 300/16 = 18.75*/
  #header {
    text-align: center;
  }
  #footer {
    display: flex;
    flex-direction: row;

  }
  #footer p {
    margin-bottom: 11px; /* 12/16 0.75*/
    margin-right: 8px; /* 8/12 = 0.66666666666*/
  }
  #navigation {
    margin-top: 16px;
  }
}

@media screen and (min-width: 700px) {
  h1,
  header {
    font-size: 32px;
    line-height: 32px;
    margin-top: 8px;
    margin-bottom: 8px;
  }
}
