/* http://meyerweb.com/eric/tools/css/reset/
   v2.0 | 20110126
   License: none (public domain)
*/
/* stylelint-disable*/
a,abbr,acronym,address,applet,article,aside,audio,b,big,blockquote,body,canvas,caption,center,cite,code,dd,del,details,dfn,div,dl,dt,em,embed,fieldset,figcaption,figure,footer,form,h1,h2,h3,h4,h5,h6,header,hgroup,html,i,iframe,img,ins,kbd,label,legend,li,mark,menu,nav,object,ol,output,p,pre,q,ruby,s,samp,section,small,span,strike,strong,sub,summary,sup,table,tbody,td,tfoot,th,thead,time,tr,tt,u,ul,var,video{margin:0;padding:0;border:0;font:inherit;vertical-align:baseline}article,aside,details,figcaption,figure,footer,header,hgroup,main,menu,nav,section{display:block}html{line-height:1}body{line-height:inherit}ol,ul{list-style:none}blockquote,q{quotes:none}blockquote:after,blockquote:before,q:after,q:before{content:'';content:none}table{border-collapse:collapse;border-spacing:0}
/* stylelint-enable */

/* Begin site styles below */

html {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 16px; /*16/16=1*/
  line-height: 18px; /*20/16=1.25*/
  margin: 8px; /*4/16=0.25*/
}
article,
section {
  margin-bottom: 8px; /*8/16=0.5*/
}
a {
  text-decoration: none;
}
#content li {
  margin-bottom: 6px;
}
figure {
  display: block;
  position: relative;
  margin-bottom: 8px;
}
img {
  display: block;
  max-width: 100%;
}
figcaption {
  background-color: #181818;
  color: #DCDCDC;
  display: block;
  padding: 4px;
  position: relative;
  max-width: 100%;
}

h2 {
  text-decoration: underline;
}
h1,
h2,
h3 {
  margin-top: 8px; /*8/16=0.5*/
  margin-bottom: 8px; /*8/16=0.5*/
  font-weight: bold;
}

#footer p {
  display: block;
  margin-top: 16px; /* 32/16 = 2*/
}
#navigation a {
  background-color: #333;
  color: white;
  display: block;
  font-size: 15.4px;
  font-family: Verdana, Arial, sans-serif;
  line-height: 0;
  margin-bottom: 12px; /* 12/24 = 0.5*/
  padding: 24px; /* 24/24 = 1*/
}

p {
  margin-bottom: 8px; /*8/16=0.5*/
}

@media screen and (min-width: 400px) { /* 300/16 = 18.75*/
  figcaption {
    bottom: 0;
    position: absolute;
  }
}
@media screen and (min-width: 700px) {/*700/16=43.75*/
  .homepage {
    display: grid;
    grid-gap: 16px;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    grid-template-areas:
      "b a"
      "b c"
  }
  #introduction {
    grid-area: a;
  }
  .kevin-aguilar {
    grid-area: b;
  }
  #home-footer {
    grid-area: c;
  }

  #creations {
    display: grid;
    grid-gap: 16px; /*16/16=1*/
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr;
  }
  h1 {
    font-size: 32px; /*32/16=2*/
    line-height: 32px; /*32/32=1*/
  }
}
